@using Common.Models
@{
	ViewData["Title"] = "AllUsers";
}

<ul class="list-group">
	@{
		<li class="list-group-item" style="border: none !important; font-weight: bold">
			<div class="row">
				<div style="display: inline-block" class="col-sm-7">
					<span>User Name</span>
				</div>
				<div style="display: inline-block" class="col-sm-5">
					<span>Actions</span>
				</div>
			</div>
		</li>
		foreach (UserModel item in @Model)
		{
			<li class="list-group-item">
				<div style="display: inline !important" class="row">
					<div style="display: inline-block" class="col-sm-7">
						<span>@item.Login</span>
					</div>
					<span class="col-sm-5" user-id="@item.Id">
						<a class="btn btn-primary" asp-controller="User" asp-action="UserLogs" asp-route-userId="@item.Id">User Logs</a>
						<button class="btn btn-secondary" data-bind="click: showAssignPopup">Assign to project</button>
					</span>
				</div>
			</li>
		}
	}
</ul>

<div class="modal fade" tabindex="-1" role="dialog" id="assign-modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Assign to project</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group row">
						<label for="projects-sel" class="col-sm-4 col-form-label">Customer</label>
						<div class="col-sm-8" style="padding-right: 15px; padding-left: 15px;">
							<select class="custom-select" id="projects-sel" data-bind="foreach: projects">
								<option data-bind="value: projectPK, text: projectName"></option>
							</select>
						</div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-bind="click: assignToProject">Assign</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

@section Scripts{
	<script src="~/js/knockout-3.5.1.js"></script>
	<script src="~/js/User/user.js"></script>
}